@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-1: #383838;
  --color-2: #066163;
  --color-3: #cdbe78;
  --color-4: #f2f2f2;
  --color-5: #69e2e4;
}

body {
  background: url("../props/background.jpg") no-repeat center center/cover;
}

h1 {
  font-size: 6rem;
  text-align: center;
  color: var(--color-5);
  font-family: 'Neonderthaw', cursive;

}

.flex {
  display: flex;
  justify-content: space-between;

  width: 80vw;
  height: 80vh;
  margin: auto;
  padding: 2vw;
}

.game-board-container {
  height: 100%;
  width: 70%;
}

.game-board {
  height: 100%;
  width: 90%;
  background-color: var(--color-2);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.control-panel {
  height: 100%;
  width: 30%;
  background-color: var(--color-2);
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 0.2em;
  font-family: 'Concert One', cursive;
}

.Incorrect-guesses, .timer, .new-game {
  margin: 1em;
  background-color: #69e2e4;
  padding: 0.5em;
  border-radius: 15px;
}

.new-game{
  box-shadow :5px 10px 18px #888888;
  transition: all 0.5s;
  cursor: pointer;
  
}
.new-game:hover{
  background-color:rgb(163, 235, 237);
}

.hidden {
  display: none;
}

.card {
  height: 90%;
  width: 90%;
  font-size: 3rem;
  padding: 0.5vw;
  margin: auto;

}

.card0 {
  background: url(../props/queen-diamond-red.png) no-repeat center center/90% 90%;
}

.card1 {
  background: url(../props/queen-heart-red.png) no-repeat center center/90% 90%;
}

.card2 {
  background: url(../props/queen-spade-black.png) no-repeat center center/90% 90%;
}

.card3 {
  background: url(../props/king-heart-red.png) no-repeat center center/90% 90%;
}

.card4 {
  background: url(../props/nine-spade-black.png) no-repeat center center/90% 90%;
}

.card5 {
  background: url(../props/three-spade-black.png) no-repeat center center/90% 90%;
}

.face-down {
  background: url(../props/back.png) no-repeat center center/90% 90%;
}
 .game-end {
  position: absolute;
  top: 29vh;
  right: 20vw;
  border: 3px solid #73AD21;
  width: 60%;
  height: 50%;
  background-color: rgb(170, 62, 159,0.9);
  font-size: 4vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Concert One', cursive;

} 
.gam-end h2{
  display: inline-block;
  vertical-align: middle;
}