@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-1: #383838;
  --color-2: #066163;
  --color-3: #cdbe78;
  --color-4: #f2f2f2;
}

body {
  background-color: var(--color-3);
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: var(--color-1);
}

.flex {
  display: flex;
  max-width: 900px;
  height: 70vh;
  /* background-color: aqua; */
  margin: auto;
}

.game-board {
  height: 100%;
  width: 70%;
  background-color: var(--color-4);
  display: flex;
  flex-wrap: wrap;
}

.control-panel {
  height: 100%;
  width: 30%;
  background-color: var(--color-2);
}

.card {
  height: 30%;
  width: 20%;
  margin: 10px;
  font-size: 3rem;
  padding: 4rem;
}




.card0{
  background: url(../props/queen-diamond-red.png) no-repeat center center/cover;
}

.card1{
  background: url(../props/queen-heart-red.png) no-repeat center center/cover;
}

.card2{
  background: url(../props/queen-spade-black.png) no-repeat center center/cover;
}

.card3{
  background: url(../props/queen-diamond-red.png) no-repeat center center/cover;
}

.card4{
  background: url(../props/queen-heart-red.png) no-repeat center center/cover;
}

.card5{
  background: url(../props/queen-spade-black.png) no-repeat center center/cover;
}

.card6{
  background: url(../props/queen-spade-black.png) no-repeat center center/cover;
}
.face-down {
  
  background: url(../props/back.png) no-repeat center center/cover;
}
